.git
.github
.claude
.zig-cache
.zig-global-cache
zig-out/*
!zig-out/
!zig-out/bin/
!zig-out/bin/zig-cluster-client
!zig-out/bin/zig-cluster-node
vendor/*
!vendor/
!vendor/aeron/
vendor/aeron/*
!vendor/aeron/aeron-all/
vendor/aeron/aeron-all/*
!vendor/aeron/aeron-all/build/
vendor/aeron/aeron-all/build/*
!vendor/aeron/aeron-all/build/libs/
!vendor/aeron/aeron-all/build/libs/aeron-all-*.jar
!test/interop/aeron-all.jar
nix-shell.*
result
tmp
coverage
