:root {
  --md-text-font: "Inter";
  --md-code-font: "JetBrains Mono";
  
  /* Hatsune Miku Theme Colors */
  --md-primary-fg-color: #39C5BB;
  --md-primary-fg-color--light: #67d6cd;
  --md-primary-fg-color--dark: #2c9a92;
  --md-accent-fg-color: #ff5e97;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #39C5BB;
  --md-primary-fg-color--light: #67d6cd;
  --md-primary-fg-color--dark: #2c9a92;
  --md-accent-fg-color: #ff5e97;
}

.md-typeset h1 {
  font-weight: 750;
}

.md-typeset h2 {
  margin-top: 1.75em;
}

.md-typeset table:not([class]) {
  font-size: 0.72rem;
}

.md-typeset code {
  border-radius: 0.2rem;
}

.md-typeset .highlight pre {
  border-radius: 0.35rem;
}
